{% extends 'AcademicCoreBundle::layout.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
        <a href="{{ path ('issue_list', { 'project' : project.id }) }}">Project Issues</a>
        <a href="{{ path ('issue_edit', { 'issue' : issue.id }) }}">Edit Issue</a>
    {% if (isStory) %}
        <a href="{{ path ('issue_create', { 'parentissue' : issue.id }) }}">Create Subtask</a>
    {% endif %}
    {% if (issue.getStatus().getStatusCode() != constant('CODE_CLOSED', issue.getStatus())) %}
        {% if (issue.getStatus().getStatusCode() != constant('CODE_INPROGRESS', issue.getStatus())) %}
            <a href="{{ path ('issue_status', { 'issue' : issue.id , 'action' : 'in_progress' }) }}">Start Progress</a>
        {% endif %}
        <a href="{{ path ('issue_status', { 'issue' : issue.id , 'action' : 'resolve' }) }}">Resolve Issue</a>
        <a href="{{ path ('issue_status', { 'issue' : issue.id , 'action' : 'close' }) }}">Close Issue</a>
    {% else %}
        <a href="{{ path ('issue_status', { 'issue' : issue.id , 'action' : 'reopen' }) }}">Reopen</a>
    {% endif %}
    {% if (issue.getParentIssue()) %}
        <p>PARENT ISSUE: <a href="{{ path ('issue_profile', { 'issue' : issue.getParentIssue().getId() }) }}">{{ issue.getParentIssue().getCode() }}</a></p>
    {% endif %}
    <table>
        <tr>
            <td>Priority:</td>
            <td>{{ issue.priority.getLabel() }}</td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>{{ issue.getTypeLabel() }}</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>{{ issue.status.getLabel() }}</td>
        </tr>
        <tr>
            <td>Resolution:</td>
            <td>{{ issue.resolution.getLabel() }}</td>
        </tr>
        <tr>
            <td>Created:</td>
            <td>{{ issue.createdAt|date('m/d/Y g:ia', app.session.get('timezone')) }}</td>
        </tr>
        <tr>
            <td>Updated:</td>
            <td>{{ issue.updatedAt|date('m/d/Y g:ia', app.session.get('timezone')) }}</td>
        </tr>
        <tr>
            <td>Reporter:</td>
            <td><a href="{{ path('user_profile', { 'user' : issue.reporter.getId()}) }}">{{ issue.reporter.getFullname() }}</a></td>
        </tr>
        <tr>
            <td>Assignee:</td>
            <td>
                {% if (issue.getAssignee) %}
                    <a href="{{ path('user_profile', { 'user' : issue.assignee.getId()}) }}">{{ issue.assignee.getFullname() }}</a>
                {% else %}
                    Not Assigned Yet
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Summary:</td>
            <td>{{ issue.summary }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ issue.description }}</td>
        </tr>
    </table>
    {% if (issue.getChildIssues()|length() > 0) %}
        <br/>
        <p>SUB TASKS</p>
        <table>
            {% for subtask in issue.getChildIssues() %}
                <tr>
                    <td><a href="{{ path('issue_profile', {'issue' : subtask.getId()}) }}">{{ subtask.getCode() }}</a></td>
                    <td>{{ subtask.getSummary() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br/>
    <div id="tabs">
        <ul>
            <li><a href="#comments">Comments</a></li>
            <li><a href="#collaborators">Collaborators</a></li>
            <li><a href="#activities">Activities</a></li>
        </ul>
        <div id="comments">
            <p>
                {{ include('AcademicProjectBundle:Issue/Comment:issue_comments.html.twig', { 'issue': issue }) }}
            </p>
        </div>
        <div id="collaborators">
            {% for collaborator in issue.getCollaborators() %}
                <p>
                    <a href="{{ path('user_profile', {'user' : collaborator.getId()}) }}">{{ collaborator.getFullname() }}</a>
                </p>
            {% endfor %}
        </div>
        <div id="activities">
            {% for activity in issue.getActivities() %}
                <p>
                   {{ activity.getEvent() }} |
                    <a href="{{ path('user_profile', {'user' :  activity.getUser().getId()}) }}"> {{ activity.getUser().getFullname }} </a> |
                    {{ activity.getCreatedAt()|date('m/d/Y g:ia', app.session.get('timezone')) }}
                </p>
            {% endfor %}
        </div>
    </div>



    <script type="text/javascript">
        jQuery(function() {
            jQuery( "#tabs" ).tabs();
        });
    </script>


{% endblock %}
