{% extends 'AcademicCoreBundle::layout.html.twig' %}
{% block body %}
    <p>Project Issue List</p>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
        <a href="{{ path('issue_create', { 'project' : project.id }) }}">Create Issue</a>
    <table>
    {% if (issues|length > 0) %}
        <tr>
            <th class="project-issue">Priority</th>
            <th class="project-issue">Status</th>
            <th class="project-issue">Issue</th>
            <th class="project-issue">Issue Code</th>
            <th class="project-issue">Issue Summary</th>
        </tr>
        {% for issue in issues %}
            <tr>
                <td class="project-issue">{{ issue.getPriority().getLabel() }}</td>
                <td class="project-issue">{{ issue.getStatus().getLabel() }}</td>
                <td class="project-issue">{{ issue.getTypeLabel() }}</td>
                <td class="project-issue"><a href="{{ path('issue_profile', { 'issue' : issue.id }) }}">{{ issue.getCode() }}</a></td>
                <td class="project-issue">{{ issue.getSummary() }}</td>
            </tr
        {% endfor %}
    {% else %}
        <tr>
            <td>There is no issue yet for this Project</td>
        </tr>
    {% endif %}
    </table>

{% endblock %}
