{% extends 'AcademicCoreBundle::layout.html.twig' %}
{% block title %} Project Profile {% endblock %}
{% block body %}
    {% if is_edit_granted %}
        <a href="{{ path ('project_edit', { 'project' : project.id }) }}">Edit Info</a>
    {% endif %}
    <a href="{{ path ('project_participant', { 'project' : project.id }) }}">Project Participants</a>
    <a href="{{ path ('issue_list', { 'project' : project.id }) }}">Issues</a>
    <table>
        <tr>
            <td>Project Label:</td><td>{{ project.name }}</td>
        </tr>
        <tr>
            <td>Summary:</td><td>{{ project.summary }}</td>
        </tr>
    </table>
    <div>
        {% for issue in project.getIssues() %}
            {% for activity in issue.getActivities() %}
                <p>
                    <a href="{{ path('issue_profile', {'issue' :  issue.getId()}) }}">{{ issue.getCode() }}</a> |
                    {{ activity.getEvent() }} |
                    <a href="{{ path('user_profile', {'user' :  activity.getUser().getId()}) }}"> {{ activity.getUser().getFullname }} </a> |
                    {{ activity.getCreatedAt()|date('m/d/Y g:ia', app.session.get('timezone')) }}
                </p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
