{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if is_edit_granted %}
        <a href="{{ path ('project_edit', { 'project' : project.id }) }}">Edit Info</a>
        <a href="{{ path ('project_participant', { 'project' : project.id }) }}">Project Participants</a>
        <a href="{{ path ('issue_list', { 'project' : project.id }) }}">Issues</a>
    {% endif %}
    <table>
        <tr>
            <td>Project Label:</td><td>{{ project.name }}</td>
        </tr>
        <tr>
            <td>Summary:</td><td>{{ project.summary }}</td>
        </tr>
    </table>
{% endblock %}