{% extends 'AcademicCoreBundle::layout.html.twig' %}
{% block title %} User Profile {% endblock %}
{% block body %}
    {% if is_edit_granted %}
        <a href="{{ path ('user_edit', { 'user' : user.id }) }}">Edit Info</a>
    {% endif %}
    <table>
        <tr>
            <td>&nbsp;</td>
            <td>
                {% if user.getAvatarWebPath() %}
                    <img src="{{ asset(user.getAvatarWebPath()) }}" />
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Name:</td><td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email:</td><td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>FullName:</td><td>{{ user.fullname }}</td>
        </tr>
        <tr>
            <td>Role:</td><td>{{ user.role.name }}</td>
        </tr>
    </table>
{% endblock %}
